@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

.container {
    z-index: 1;
    width: fit-content;
    display: flex;
    flex-direction: row;
}

.about-content {
    display: flex;
    flex-direction: column;
    width: 40%;
}

h1 {
    font-size: 2rem;
    animation-duration: 2s;
    transform-origin: bottom;
    animation-name: h1;
    animation-timing-function: linear;
}

@keyframes h1 {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(100px);
    }

    100% {
        transform: translateX(0);
    }
}

h1,
.about-text {
    margin: 0;
    color: var(--primary-text-color);
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.about-text {
    font-size: 1rem;
    margin: 0.5rem auto;
}

.profile-image {
    width: 22vw;
    height: 52vh;
    margin-top: 4rem;
    margin-left: 14rem;
    border-radius: 4px;
}

/* Media queries  */

@media screen and (max-width: 425px) {
    .container {
        flex-direction: column;
    }

    .about-content {
        width: 100%;
    }

    .profile-image {
        width: 15vw;
        height: 30vh;
        margin-top: 2rem;
        margin-left: 3rem;
    }
}