@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

.container {
    z-index: 1;
    width: fit-content;
    display: flex;
    flex-direction: row;
}

.about-content {
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 2.5rem;
}

h1,
.about-text {
    margin: 0;
    color: #0047ab;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.about-text {
    font-size: 1.5rem;
}

.profile-image {
    width: 25vw;
    height: 70vh;
    margin-left: 5rem;
    border-radius: 4px;
}

/* Media queries  */

@media screen and (max-width: 425px) {
    .container {
        flex-direction: column;
    }

    .profile-image {
        width: 60vw;
        margin-top: 2rem;
        margin-left: 3rem;
    }
}