
.project-container {
    display: flex;
    flex-wrap: wrap;
}

.project-card {
    margin: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    width: 300px;
    height: 60vh;
}

.project-card-image img {
    width: 100%;
    object-fit: cover;
}

.project-card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 28px;
}

.tag {
    background: #cccccc;
    border-radius: 50px;
    font-size: 12px;
    color: #fff;
    padding: 2px 10px;
    text-transform: uppercase;
    cursor: pointer;
}

.tag-teal {
    background-color: #47bcd4;
}

.tag-black {
    background-color: #000000;
}

.tag-green {
    background-color: #53FC75;
}

.tag-coral {
background-color: #F77D5E;
}

.tag-yellow {
background-color: #E0C84A;
}

