.project-container {
    display: flex;
    flex-wrap: wrap;
}

.project-card {
    margin: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    width: 300px;
    height: 60vh;
}

.project-card-image img {
    width: 100%;
    object-fit: cover;
}

.project-card-tag {
    display: flex;
    flex-direction: row;
    padding-top: 1.8rem;
    padding-left: 1.8rem;
}

.tag {
    border-radius: 30px;
    font-size: 0.75rem;
    color: #ffffff;
    padding: 0.125rem 0.625rem;
    text-transform: uppercase;
    margin-left: 0.3rem;
}

.tag:first-child {
    margin-left: 0;
}

.tag-teal {
    background-color: #47bcd4;
}

.tag-black {
    background-color: #000000;
}

.tag-green {
    background-color: #53FC75;
}

.tag-coral {
    background-color: #F77D5E;
}

.tag-yellow {
    background-color: #E0C84A;
}

.tag-purple {
    background-color: #800080;
}

.tag-orange {
    background-color: #FF5733;
}

.project-card-content {
    display: flex;
    padding: 0 1.8rem;
}

@media screen and (max-width: 425px) {
    .project-container {
        justify-content: center;
    }
}